:root {
  --box-margin: 30px;
}
body {
  background-color: snow;
}

.AGIF {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#map {
  height: 90vh;
  width: 68vw;
}

.hidden {
  display: none;
}
