.legend-list {
  position: absolute;
  top: 1vw;
  left: 1vw;
  --color-box-size: 20px;
  background-color: snow;
  padding: 5px 20px;
  z-index: 1;
  font-size: 1.2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  line-height: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  padding: 5px 0;
  /* justify-content: center; */
  gap: 20px;
  height: 2vw;
}
@media (min-height: 1200px) {
  .legend-list {
    top: 2vw;
    left: 2vw;
    --color-box-size: 30px;
    font-size: 1.4rem;
  }
  .legend-item {
    height: 2.5vw;
  }
}
.legend-color {
  border: 1px solid rgb(200, 200, 200);
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); */
  width: var(--color-box-size);
  height: var(--color-box-size);
}

.legend-zaa,
.legend-zab,
.legend-haus,
.legend-lkzaa,
.legend-lkzab,
.legend-lkhaus {
  min-width: 200px;
}

.legend-rvi {
  min-width: 360px;
}

.legend-vi {
  min-width: 250px;
}
